ClientWindowsForms/Connected Services/DownloadService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFproject" />
  <xs:element name="DownloadDocument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFproject" minOccurs="0" name="DownloadDocumentResult" nillable="true" type="q1:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>