ClientWebApplication/Connected Services/EmployeeService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFproject.Models" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFproject.Models" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFproject.Models" minOccurs="0" name="employee" nillable="true" type="q2:Employee" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFproject.Models" minOccurs="0" name="e1" nillable="true" type="q3:EmployeeKnownType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFproject.Models" minOccurs="0" name="e2" nillable="true" type="q4:PartTimeEmployee" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFproject.Models" minOccurs="0" name="e3" nillable="true" type="q5:FullTimeEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>