ClientWindowsForms/Connected Services/SimpleService/SimpleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISimpleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8087/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_IncrementNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementNumber" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_IncrementNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_DisplaySessionId_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplaySessionId" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_DisplaySessionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplaySessionIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetEvenNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetEvenNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvenNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetOddNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbers" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetOddNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOddNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_ProgressReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgressReport" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_ProgressReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgressReportResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_ReportProgress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportProgress" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_ReportProgress_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="IncrementNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/IncrementNumber" message="tns:ISimpleService_IncrementNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/IncrementNumberResponse" message="tns:ISimpleService_IncrementNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplaySessionId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/DisplaySessionId" message="tns:ISimpleService_DisplaySessionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/DisplaySessionIdResponse" message="tns:ISimpleService_DisplaySessionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetEvenNumbers" message="tns:ISimpleService_GetEvenNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetEvenNumbersResponse" message="tns:ISimpleService_GetEvenNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetOddNumbers" message="tns:ISimpleService_GetOddNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetOddNumbersResponse" message="tns:ISimpleService_GetOddNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgressReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/ProgressReport" message="tns:ISimpleService_ProgressReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/ProgressReportResponse" message="tns:ISimpleService_ProgressReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportProgress">
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/ReportProgress" message="tns:ISimpleService_ReportProgress_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/ReportProgressResponse" message="tns:ISimpleService_ReportProgress_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISimpleService" type="tns:ISimpleService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISimpleService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IncrementNumber">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/IncrementNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplaySessionId">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/DisplaySessionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvenNumbers">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/GetEvenNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOddNumbers">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/GetOddNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgressReport">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/ProgressReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportProgress">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/ReportProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="NetTcpBinding_ISimpleService" binding="tns:NetTcpBinding_ISimpleService">
      <soap12:address location="net.tcp://localhost:8097/SimpleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8097/SimpleService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-A32UFAF\Kesiu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>