ClientWindowsForms/Connected Services/HelloServiceIIS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHelloService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IHelloService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetMessageWithoutAnyProtection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageWithoutAnyProtection" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetMessageWithoutAnyProtection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageWithoutAnyProtectionResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetSignedMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignedMessage" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetSignedMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignedMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetSignedAndEncryptedMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignedAndEncryptedMessage" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetSignedAndEncryptedMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignedAndEncryptedMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/GetMessage" message="tns:IHelloService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/GetMessageResponse" message="tns:IHelloService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageWithoutAnyProtection">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/GetMessageWithoutAnyProtection" message="tns:IHelloService_GetMessageWithoutAnyProtection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/GetMessageWithoutAnyProtectionResponse" message="tns:IHelloService_GetMessageWithoutAnyProtection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignedMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/GetSignedMessage" message="tns:IHelloService_GetSignedMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/GetSignedMessageResponse" message="tns:IHelloService_GetSignedMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignedAndEncryptedMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/GetSignedAndEncryptedMessage" message="tns:IHelloService_GetSignedAndEncryptedMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/GetSignedAndEncryptedMessageResponse" message="tns:IHelloService_GetSignedAndEncryptedMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHelloService" type="tns:IHelloService">
    <wsp:PolicyReference URI="#WSHttpBinding_IHelloService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageWithoutAnyProtection">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetMessageWithoutAnyProtection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignedMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetSignedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignedAndEncryptedMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetSignedAndEncryptedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IHelloService" type="tns:IHelloService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHelloService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageWithoutAnyProtection">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetMessageWithoutAnyProtection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignedMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetSignedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignedAndEncryptedMessage">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/GetSignedAndEncryptedMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="WSHttpBinding_IHelloService" binding="tns:WSHttpBinding_IHelloService">
      <soap12:address location="https://desktop-a32ufaf/HelloServiceIIS.svc/HelloService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://desktop-a32ufaf/HelloServiceIIS.svc/HelloService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IHelloService" binding="tns:NetTcpBinding_IHelloService">
      <soap12:address location="net.tcp://desktop-a32ufaf/HelloServiceIIS.svc/HelloService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://desktop-a32ufaf/HelloServiceIIS.svc/HelloService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-A32UFAF</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>